<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://cdn.opalrb.org/opal/current/opal.min.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>